{% extends "base.html" %}


{% block content %}
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="header">
            <div>
                <h1>ChatApp</h1>
                <p>Wecome back {{current_user.username}}</p>
            </div>
            <div class="icons">
<a href="{{ url_for('chatCreator') }}"><button>Create Chat</button></a>
                <button>⚙️</button>
            </div>
        </div>
        <div class="chat-list">
            {% for i in chats_name %}
            <div class="chat" onclick="joinChat('{{ chats_id[loop.index - 1] }}')">
                <img src="../static/blankProfile.png" alt="Profile">
                <div class="chat-info">
                    <h2>{{ i }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Chat Area -->
    <div class="chat-area">
        <div class="chat-header">
            <img src="profile2.jpg" alt="Profile">
            <h2>Chat with User 2</h2>
            <div class="icons">
                <button>📞</button>
                <button>⋮</button>
            </div>
        </div>
        <div class="messages">
        </div>
        <div class="message-input">
            <button>😊</button>
            <form class="message-send">
                <input type="text" placeholder="Type a message">
                <button id="send-button">➤</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"  crossorigin="anonymous"></script>
<script src="../static/script.js"></script>

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/style.css">
    <title>TextChat :D</title>
{% endblock %}
